.login-container {
  display: flex;
  justify-content: center;
  height: calc(100vh-150px); 
  background-color: #f2f2f2;
  padding-top: 30px;
}

.login-box {
  height:fit-content;
  margin-top: 10px;
  background-color: white;
  padding: 30px 40px;
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  width: 350px;
  display: flex;
  flex-direction: column;
}

.login-box h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #0a2558;
  border-bottom: 3px solid #0a2558;
  display: inline-block;
  align-self: center;
  padding-bottom: 5px;
}

.login-box label {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #625e5e;
  font-weight: 600;
}

.login-input {
  color: #0a2558;
  padding: 8px 12px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;

}


.login-input:hover {
  border-color: #0a2558;
  box-shadow: 0 0 5px rgba(10, 37, 88, 0.3);
}



.login-button {
  background-color: #0a2558;
  color: white;
  padding: 10px 30px;
  border:2px solid grey;
  width:60%;
  border-radius: 6px;
  cursor: pointer;
  align-self: center;
  margin-top: 24px;

 
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 14px;
}

.login-button:hover {
  background-color: #2EA3BD;
  border: 2px solid rgb(177, 176, 176);
}

.forgot-text {
  display: block;
  text-align: left;
  margin-left: 0;
  margin-top: 20px;
  font-size: 12px;
  color: #0a2558; 
}

.forgot-text a {
  color: #007acc;
  text-decoration: none;
}

.forgot-text a:hover {
  text-decoration: underline;
}


.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  width: 100%;
  padding-right: 40px; 
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  outline: none;
}


.password-wrapper input:hover {
  border-color: #0a2558;
  box-shadow: 0 0 5px rgba(10, 37, 88, 0.3);
}
.toggle-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-40%);
  cursor: pointer;
  color: #666;
  font-size: 18px;
}


@media (max-width: 700px) {
 .login-box {
   width:80%;
   margin-top: 30px;
    padding: 20px;
    border-radius: 0;
  }

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  padding-top: 30px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items:baseline;
  height: calc(100vh - 150px); /* adjust based on navbar height */
  background-color: #f2f2f2;
  padding-top: 30px;
}

}