.donut-chart-wrapper {
  width: 100%;
  max-width: 600px;
  height: auto;
  aspect-ratio: 1 / 1;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.donut-chart-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  color: #333;
}

/* Medium screen (tablets) */
@media screen and (min-width: 768px) {
  .donut-chart-wrapper {
    max-width: 300px;
  }

  .donut-chart-label {
    font-size: 1.2rem;
  }
}


@media screen and (min-width: 1024px) {
  .donut-chart-wrapper {
    max-width: 420px;
  }

  .donut-chart-label {
    font-size: 1.4rem;
  }
}
