.custom-navbar {
  background-color: #0a2558;
  color: white;
  padding: 12px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.navbar-logo {
  height: 80px;
  width: 100%;
 
}

.navbar-title h1 {
  margin: 0;
  font-size: 1.125rem;
  font-weight: bold;
}

.navbar-title p {
  margin: 0;
  font-size: 0.875rem;
  color: #d1d5db;
}

.loginbar-button {
  background-color: white;
  color: #0a2558;
  font-weight: 600;
  padding: 6px 30px;
  border: 2px solid rgb(155, 155, 153);
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.loginbar-button:hover {
  background-color: #2EA3BD;
  color:white;
}

@media (max-width: 820px) {
 
  .loginbar-button {
    padding: 4px 14px;
    font-size: 1rem;
  }


}



@media (max-width: 640px) {


  .login-button {
    padding: 4px 12px;
    font-size: 0.75rem;
  }

  
}
